h1 {
 color: tomato
}
.stranger {
 color: orange
}
.name {
 color: cornflowerblue
}
.showbox {
  border: 2px solid gray;
  display: block;
  margin-top: 60px;
}
.board_context{
  margin: 30px 0;
  min-height: 180px;
}

/* 아래 블로그*/

/* user style */
.user {
 max-width: 320px;
 font-family: 'Open Sans', sans-serif;
 font-size: 12px;
}
.user-index ul{
 margin: 0;
 padding: 3px 12px;
}
.user-index ul:after { /* 1 */
 content: "";
 display: block;
 clear: both;
}
.user-index ul li{
 display: inline-block;
 list-style-type: none;
 float:left;
}
.user-index ul li a{
 display: inline-block;
 text-decoration:none;
 margin: 3px;
 background-color: #eee;
 padding: 3px 10px;
 border-radius: 3px;
}
.user-index ul li a:hover{
 background-color: #ccc;
}
.user-edit hr{
 margin-top: 5px;
 margin-bottom: 11px;
}
