<div style="background-color:#eee;background-image:none;background-repeat:repeat;background-position:top left;color:#333;font-family:Helvetica,Arial,sans-serif;line-height:1.25">
	<table border="0" cellpadding="0" cellspacing="0" width="100%" height="100%">
		<tbody>
			<tr>
				<td align="center" valign="top">
					<table border="0" cellpadding="20" cellspacing="0" width="600px">
						<tbody>
							<tr>
								<td align="center" valign="top">
									<table border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color: #ffffff;">
										<tbody>
											<tr>
												<td height="15px">
												</td>
											</tr>
											<tr>
												<td style="padding-right:27px;padding-left:18px;line-height:34px;font-size:29px;color:#424240;font-family:'\00b098\00b214\00ace0\00b515',NanumGothic,'\00b9d1\00c740\00ace0\00b515',Malgun Gothic,'\00b3cb\00c6c0',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif">
													<b>임시 비밀번호를 알려드립니다.</b>
												</td>
											</tr>
											<tr>
												<td height="15px"></td>
											</tr>
											<tr>
												<td height="1" style="background-color:#e5e5e5"></td>
											</tr>
											<tr>
												<td style="padding-top:15px;padding-right:27px;padding-bottom:15px;padding-left:15px">
													<table border="0" cellpadding="0" cellspacing="0" height="60" width="100%" >
														<tbody>
															
															<tr>
																<td style="font-size:18px;line-height:24px;font-family:'\00b098\00b214\00ace0\00b515',NanumGothic,'\00b9d1\00c740\00ace0\00b515',Malgun Gothic,'\00b3cb\00c6c0',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif">
																	<b>안녕하세요. <font style="color:#7bbfa8;">뿌리깊은마크</font> 입니다.</b>
																</td>
															</tr>
															<tr>
																<td height="5px"></td>
															</tr>
															<tr>
																<td style="font-size:14px;color:#696969;line-height:24px;font-family:'\00b098\00b214\00ace0\00b515',NanumGothic,'\00b9d1\00c740\00ace0\00b515',Malgun Gothic,'\00b3cb\00c6c0',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif">
																	회원님의 임시번호를 알려드립니다.
																</td>
															</tr>
															<tr>
																<td height="15px"></td>
															</tr>
															<tr>
																<td style="font-size:14px;color:#f6775f;line-height:24px;font-family:'\00b098\00b214\00ace0\00b515',NanumGothic,'\00b9d1\00c740\00ace0\00b515',Malgun Gothic,'\00b3cb\00c6c0',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif">
																	임시 비밀번호로 로그인 후, 비밀번호를 변경해주세요.
																</td>
															</tr>
															<tr>
																<td height="5px"></td>
															</tr>
															<tr>
																<td height="15px"></td>
															</tr>
															<tr>
																<td height="1" style="background-color:#e5e5e5"></td>
															</tr>
															<tr>
																<td>
																	<ul>
																		<li>
																			임시비밀번호 : <font style="color:#3e8aea;">${pwd}</font>
																		</li>
																	</ul>
																</td>
															</tr>
															<tr>
																<td height="1" style="background-color:#e5e5e5"></td>
															</tr>
															<tr>
																<td height="15px"></td>
															</tr>
															<tr>
																<td style="font-size:14px;color:#696969;line-height:24px;font-family:'\00b098\00b214\00ace0\00b515',NanumGothic,'\00b9d1\00c740\00ace0\00b515',Malgun Gothic,'\00b3cb\00c6c0',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif">
																	감사합니다.
																</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</div>