table thead tr th.table-tag,
table tbody tr td.table-tag {
	display: none;
}

/* Category Insert button CSS END */

.url-action{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
    /* color:#8aa4af; */
}
/* 
.url-action:hover,
.url-action:focus,
.url-action:active{
    cursor: pointer;
    color:#fff;
}
 */
 .panel-body table tr>th{
    color: #da2929;
    font-size:15px;
    font-weight: 400;
}
 
.panel .panel-heading .fa.fa-arrow-right.social-content-head{
	margin-right: 5px;
}

.panel .panel-heading .panel-body .table.table-hover .table-date{
	width:100px;
}

div.dataTables_info {
    display: none;
}


/* category CSS END */