<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>board detail</title>
  <link rel="stylesheet" href="/css/master.css">
 </head>
 <body>

<div class="showbox">
  <div class="board_title">
  </div>
  <div class="board_context">
    <%= board.context %>
  </div>
  <div class="board_menu">
      <a href="/board">Back</a>

  </div>
</div>


 </body>
</html>
